{% extends "layout.html" %}
{% block content %}
<div class="home">
    <h1><b>Hello!</b> &#129321; i'm Taiseii</h1>
    <p>
        This is a web page designed to introduce myself to others(Future
        bosses),
        and it's written using Flask! 
    </p>
    <p>
        <b>Because</b> of my interest in programming, big data, statistics, and technologies
        that bind these three elements together,
        I have studied <b>Data Science</b> at TU Eindhoven. Freshly graduated this November in BSc.
    </p>

    <h2><b>Currently,</b></h2>
    <p>I am looking for an opportunity where I can evolve as a human being and a coder &#128591;&#127996;</p>
    <a class="mr-2" href="{{ url_for('learn_more') }}">"Learn more about me!"</a><br>
    <div class="cat">
        <img src={{cat_meme}}>
    </div>
</div>

{% endblock content %}