{% extends "layout.html" %}
{% block content %}
<div class="learn_more">
    <div class="media-body" >


    <div class="flex-container">
        <div class="flex-item">
            <div class="gallery" >
                <figure class="gallery__item gallery__item--1">
                        <script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js" async></script>
<div class="pa-carousel-widget" style="display:none;"
  data-link="https://photos.app.goo.gl/cWjwreZoyCx85j8S9"
  data-show-repeat-switch=false
  data-show-fullpage-switch=false
  data-fullpage-autoplay=false
  data-mediaitems-cover=true>
  <object data-aspect-ratio=false data-cover=true data="https://lh3.googleusercontent.com/lEXq19rlaARmgPkj8qLAspujWuJ9XKYT5jqKXOKN9gl-6uCCqUCLtEKISXQRfZuNxI1rghn8dOg5qqkucliydYgWQIw1AJqZ8tIWj0s8E7AEyux1f-X376m5-dgppSqWFZCma7v-UKg=w1920-h1080"></object>
</div>

                    </figure>
                <figure class="gallery__item gallery__item--2">
                        <script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js" async></script>
<div class="pa-carousel-widget" style=" display:none;"
  data-link="https://photos.app.goo.gl/YVo5UHY2YXPBMuZH9"
  data-mediaitems-cover=true>
  <object data-aspect-ratio=false data-cover=true data="https://lh3.googleusercontent.com/3Q1qbeVSjrNTebDkrpo0wBXT_rNpsgqPikHGrQNNgIr9ifytymsd6rBkMDj1tCdN5UAwYjJMmQdDsJ41EiQq2WoQd0Pag836Q2TDWx119oHfKmvwwm1sArvAtwf52PyrHglFV35F_wU=w1920-h1080"></object>
</div>

                      </figure>
                <figure class="gallery__item gallery__item--3">
                        <script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js" async></script>
                        <div class="pa-carousel-widget" style="display:none;"
                          data-link="https://photos.app.goo.gl/bG7HkURfpXUBBTrZ7"
                          data-mediaitems-cover=true>
                          <object data-aspect-ratio=false data-cover=true data="https://lh3.googleusercontent.com/D8ICLYA7fR1tThi6iAMaEhql5cIieTIVe6aKklXgcErvvK_igROYvVoWdV3enKRqy-_oimln-jOyF4EJOVbVZD1agkQObZi1RE3MWW9Qn5ifCi1HMxXyLOkE2tOW7W5im3PwTs9ECNM=w1920-h1080"></object>
                        </div>
                        </figure>
                <figure class="gallery__item gallery__item--4">
                        <div class="pa-gallery-player-widget" 
                        data-link="https://photos.app.goo.gl/whfKWTyn7J7VBWy98"
                        data-mediaitems-cover=true
                        data-show-fullpage-switch=true>
                        <object data-aspect-ratio=false data-cover=true data="https://lh3.googleusercontent.com/0HBty4HVQ-XbKLDrwcDtKTzwPMVOgSt6w2-JLKZRRy32zvkceYtZaJaP8jGKbNJ_jn8idvTa1gPmZBGVT15f1YK_7h2C1hAW9soWJeOK6V8quIQf3aRldZliqckaid_ZHTB_1ksFIb4=w1920-h1080"></object>
                      </div></figure>
            </div>
        </div>
        <div class="flex-item">
            
            <h3 align="center", style="padding-top: 24px; padding-bottom: 24px;">What I like & value</h3>
            <p style="max-width: 16em," align="center">
                 Going to places where I have never step a foot before with friends always excites me. 
                 I love to be surprised by the difference between my expectations and reality.<br> Taking part in events organized among my friends and family 
                 is important to me to form a strong bond. Sometimes, I like to be a photographer during these events. 
            </p>
           
        </div>
        <div class="flex-item">
            <h3 align="center", style="padding-top: 24px; padding-bottom: 24px;">Hobby & passion</h3>
            <p style="max-width: 16em," align="center">A shared passion for music and parties has made us establish an organization dedicated to bringing
                 a unique audiovisual experience in Eindhoven. I have performed with "L" using drum machines,
                  synthesizers, and more gears. Aside from being an artist, I have coded the laser system used in the party.
               </p>
        </div>
        <div class="flex-item">
            <div class="gallery" >
                <!-- <figure class="gallery__item gallery__item--11">
                        <script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js" async></script>
                        <div class="pa-gallery-player-widget" style="display:none;"
                          data-link="https://photos.app.goo.gl/HLMgYBTB9ngqFTaM8">
                          <object data="https://lh3.googleusercontent.com/ruC3r3ChffQY7tq87rdNr09zjruBxC54AMY6CMKZNXvcAkd7VQegO_4CILilb6JR0dV3UdTiouWS5ed_v7Oj7HlWaNxtuIVT9RrUhG4clw4KtE1kLPuR551-F9vM76ALGZDDrDJmwjw=w1920-h1080"></object>
                        </div>
                        </figure> -->
                <figure class="gallery__item gallery__item--22">
                        <script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js" async></script>
                        <div class="pa-gallery-player-widget" style=" display:none;"
                          data-link="https://photos.app.goo.gl/SeXwgiiGPFgk5jMV7"
                          data-title="Me & L performing"
                          data-mediaitems-cover=true>
                          <object data-aspect-ratio=false data-cover=true data="https://lh3.googleusercontent.com/7BHAcCsC2qiU7lZbaO518gkrpnyE6nqpj-msEYmkbVzdkxQeaV1XqsaVqzP7eG2Z-3BUz88OS2P2aM5ODiX8_l8gmzatHFSuMeTL3u-LPtLW7zwsV1mjQdjlHuxY_Cx40--2c3yzc-A=w1920-h1080"></object>
                        </div>
                         </figure>
                <!-- <figure class="gallery__item gallery__item--33">
                        <script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js" async></script>
                        <div class="pa-gallery-player-widget" style="display:none;"
                          data-link="https://photos.app.goo.gl/bQCoEnMQe7kSzTzc7">

                          <object data="https://lh3.googleusercontent.com/2JtKKj1poHDmRrWpwtBc8_IKluAjscAgYSaCkECIWcOnMyb-lspowOBxuUTCMfQRB9dmqG1YKQxR-KO_N8KyO-pP0fHSFBdeK1gpVXqHk4ZHUrEyGLX53feEnQUfi_TO2dcyfjXQDEQ=w1920-h1080"></object>
                        </div>
                         </figure> -->
                <figure class="gallery__item gallery__item--44">
                        <script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js" async></script>
                        <div class="pa-gallery-player-widget" style="display:none;"
                          data-link="https://photos.app.goo.gl/fAkqqGtA89cvZ6Cd9"
                          data-title="Laser system" data-mediaitems-cover=true>
                          <object data-aspect-ratio=false data-cover=true  data="https://lh3.googleusercontent.com/0-9qQ6WRTsJQIydipbaOKosOYQjEuKXx5tBj4MHylwnHGK4ThQ5nnOoobqUcwVXg7fy3qPyytFpUeWdaKcoLt4FRX6LeuVG4mWOdhw0SjMs7wniHMb5CVI-IPFqNTtvzSmyEQZwU-9g=w1920-h1080"></object>
                        </div>
                        </figure>
            </div>
        </div>

    </div>


</div>


{% endblock content %}